[Desktop Entry]
Name=Crystal
Comment=Blink Blink Application
Exec=crystal
Icon=${SNAP}/meta/gui/crystal.png
Terminal=false
Type=Application
Categories=Personalisation;