[Desktop Entry]
Name=Crystally
Comment=Blink Blink Application
Exec=crystally
Icon=${SNAP}/meta/gui/crystally.png
Terminal=false
Type=Application
Categories=Personalisation;